@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Inter:wght@300&family=Nunito+Sans:wght@200;300&family=Poppins:wght@400;600&display=swap');
/* ----------------Montserrat font link ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Inter:wght@300&family=Montserrat:wght@300&family=Nunito+Sans:wght@200;300&family=Poppins:wght@400;600&display=swap');

/* ---------------------Navbar hero section class -------------- */
@media (min-width:1024px) {
    .backgroundPositionY {
        background-position-y: 100px !important;
    }
}

@media (max-width:1023px) {
    .backgroundPositionY {
        background-position-y: 70px !important;
    }
}

/* --------------------------Main Container for overall website------------------------- */
.mainContainer {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 2050px;
    margin: auto;
}


@media (min-width:1920px) {
    .mainContainer {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media (min-width:1440px) {
    .mainContainer {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width:768px) {
    .mainContainer {
        padding-left: 60px;
        padding-right: 60px;
    }
}

/* ------------------navbar light and dark color animation--------------------- */

.navLightColor {
    background-color: #f0f0f0 !important;
    animation: colorLightAnimate 0.5s ease-in-out;
}

@keyframes colorLightAnimate {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.navDarkColor {
    background-color: #0F1624 !important;
    animation: colorDarkAnimate 0.5s ease-in-out;
}

@keyframes colorDarkAnimate {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}



.lightColor {
    background-color: white !important;
    animation: lightColorAnimate 0.5s ease-in-out;
}

@keyframes lightColorAnimate {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.darkColor {
    background-color: #0F1624 !important;
    animation: darkColorAnimate 0.5s ease-in-out;
}

@keyframes darkColorAnimate {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.darkColorResponsiveNavbar {
    background-color: #1c2841 !important;
    animation: darkColorResponsiveNavAnimate 0.5s ease-in-out;
}

@keyframes darkColorResponsiveNavAnimate {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.graphLinelDarkColor {
    background-color: #162950 !important;
    animation: graphLineAnimate 0.5s ease-in-out;
}

@keyframes graphLineAnimate {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* -----------------------------Responsive Navbar Animation------------------------- */

.navBarAnimation {
    animation: animate 0.5s ease-in-out;
}

@keyframes animate {
    0% {
        top: -100%;
    }

    100% {
        top: 73px;
    }
}




/* ---------------------------------Line Graph card animation ---------------------------- */

.lineGraphAnimation {
    animation: lineGraph 3s ease-in-out;
}

@keyframes lineGraph {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

p,
h3,
h4 {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently 
    supported by Chrome and Opera */

}